<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <link rel="layout" href="@@layout"/>
    <link rel="tile" target="document-first-heading" href="./jyu.portfolio.app.tiles.title"/>
    <link rel="tile" target="first-column-toolbox"
          href="./jyu.portfolio.app.tiles.toolbox/first-column"/>
    <link rel="tile" target="second-column-toolbox"
          href="./jyu.portfolio.app.tiles.toolbox/second-column"/>
  </head>
  <body>
    <!--
    <div id="content-title">
      <h1 class="documentFirstHeading" id="document-first-heading">TITLE</h1>
    </div>
    -->
    <div id="plone-document-byline"/>
    <!--
    <div id="content-description">
      DESCRIPTION
    </div>
    -->
    <div id="content-core" class="row">
      <div id="first-column" class="cell width-10 position-0">
        <div id="first-column-toolbox"/>
      </div>
      <div id="second-column" class="cell width-6 position-10">
        <div id="second-column-toolbox"/>
      </div>
    </div>
  </body>
</html>
