<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <link rel="layout" href="@@layout"/>
    <link rel="tile" target="document-first-heading" href="./jyu.portfolio.app.tiles.title"/>
  </head>
  <body>
    <!--
    <div id="content-title">
      <h1 class="documentFirstHeading" id="document-first-heading">TITLE</h1>
    </div>
    -->
    <div id="plone-document-byline"/>
    <!--
    <div id="content-description">
      DESCRIPTION
    </div>
    -->
    <div id="content-core" class="row">
      <div id="first-column" class="cell width-10 position-0"
           style="border: 1px solid black; min-height: 10em;">
      </div>
      <div id="second-column" class="cell width-6 position-10"
           style="border: 1px solid black; min-height: 10em;">
      </div>
    </div>
  </body>
</html>
