<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <link rel="layout" href="@@layout"/>
    <link rel="tile" target="first-column-add"
          href="jyu.portfolio.layout.tiles.add/first-column-add"/>
    <link rel="tile" target="second-column-add"
          href="jyu.portfolio.layout.tiles.add/second-column-add"/>
  </head>
  <body>
    <div id="content-core" class="row">
      <div id="first-column" class="cell width-6 position-0 sortable">
        <div id="first-column-add"/>
      </div>
      <div id="second-column" class="cell width-10 position-6 sortable">
        <div id="second-column-add"/>
      </div>
    </div>
  </body>
</html>