.dragged {
    background-color: white;
    border: thin solid #ddd;
    box-shadow: 0 0 2em black;
    -moz-box-shadow: 0 0 2em black;
    -webkit-box-shadow: 0 0 2em black;
}

#content-core .cell.sortable > div:hover {
    outline: 2px dashed #ddd;
}

#content-core .cell.sortable > div.dragged:hover {
    outline: none;
}

.placeholder {}