form#delete .field {
    display: none;
}

#content-core .tile {
    position: relative;
}

#content-core .tile .tile-header {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

#content-core .tile:hover .tile-header {
    display: block;
}